{% extends "master.jinja" %}

{% block title %}
  Choose Kubernetes Versions
{% endblock %}

{% block head %}
<style>
body {
  font-family: monospace, sans-serif;
}

.page {
  text-align: center;
}
</style>
{% endblock %}

{% block content %}
<div class="main">
  <div class="page">
    <h3>Choose Kubernetes version</h3>
    {% for ver in vers %}
    <p><a href="{{ url_for('resource.index', ver=ver) }}">{{ver}}</a></p>
    {% endfor %}
  </div>
</div>
{% endblock %}
